@using Library.Models.Custom

@model List<LibraryCollection>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/styles")
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container col-md-12">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light" id="navbar">
                    <a class="navbar-brand" href="#">Library manager</a>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li><a onclick="GetLibraries(1)">Sort by author</a></li>
                            <li><a> | </a></li>
                            <li><a onclick="GetLibraries(2)">Sort by genre</a></li>
                        </ul>
                        <span class="navbar-text">
                            @ViewBag.UserName
                            <a href="/">Sign Out</a>
                        </span>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <div id="mainWrapper">
        <div>
            <div class="row">
                <div class="col-md-7">
                    <div class="table-responsive text-nowrap" id="libContainer">
                    </div>
                </div>
                @if (ViewBag.isAdmin == true)
                {
                    <div class="col-md-5">
                        <div class="sticky">
                            <h3>Actions</h3>
                            <table class="table table-striped">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>
                                            <a id="addBtn" class="btn btn-outline-success" data-toggle="collapse" href="#addBookForm" role="button" aria-expanded="false" aria-controls="addBookForm">
                                                Add new book
                                            </a>
                                        </th>
                                        <th>
                                            <a id="createBtn" class="btn btn-outline-success" data-toggle="collapse" href="#createLibrary" role="button" aria-expanded="false" aria-controls="createLibrary">
                                                Create new library
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div class="collapse" id="addBookForm">
                                <div class="formWrapper">
                                    <h3>Add book to library</h3>
                                    <form id="addForm" method="post" action="">
                                        <div class="form-group">
                                            <label for="exampleInputTitle">Title of book</label>
                                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="Title" name="Title" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputAuthor">Author of book</label>
                                            <input type="text" class="form-control" id="exampleInputAuthor" placeholder="Author" name="Author" autocomplete="off">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputGenre">Genre of book</label>
                                            <input type="text" class="form-control" id="exampleInputGenre" placeholder="Genre" name="Genre" autocomplete="off">
                                        </div>
                                        <div class="form-group" id="listOfLibrary">
                                            <label for="exampleInputSelector">Add to library</label>
                                            <select name="LibraryTitle" class="form-control" id="exampleInputSelector">
                                                <option disabled selected value="0">Select library...</option>
                                                @foreach (var lib in Model)
                                                {
                                                    <option value="@lib.Title">@lib.Title</option>
                                                }
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputCount">Number of copies</label>
                                            <input class="form-control" type="number" value="1" id="exampleInputCount" min="0" name="Count">
                                        </div>
                                        <button type="button" class="btn btn-success" id="addBookBtn">Confirm</button>
                                        <input type="reset" class="btn btn btn-warning" id="resetBookBtn" value="Reset">
                                        <button type="button" class="btn btn-danger" id="cancelBookBtn">Cancel</button>
                                    </form>
                                </div>
                            </div>
                            <div class="collapse" id="createLibrary">
                                <div class="formWrapper">
                                    <h3>Create library</h3>
                                    <form id="createForm">
                                        <div class="form-group">
                                            <label for="exampleInputTitle">Title of library</label>
                                            <input type="text" class="form-control" id="exampleInputTitle" placeholder="Title" name="Title">
                                        </div>
                                        <button type="button" class="btn btn-success" id="createLibBtn">Create</button>
                                        <input type="reset" class="btn btn-danger" id="cancelLibBtn" value="Cancel">
                                    </form>
                                </div>
                            </div>
                            <div id="alert">

                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-md-5" id="booksBlock">
                        <div></div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="container">

        <!-- Popup -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <h6>Select end date:</h6>
                        <input type="datetime-local" class="form-control" onchange="DateTimeChanged();" id="datePicker">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="TakeBook(window.takeBookId)" id="modalTakeBtn" disabled>Take</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="modalCancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>