<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign up</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/bundles/bootstrapcss")
    @Styles.Render("~/bundles/styles")
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="center-block col-md-4 " style="margin-left: auto; margin-right: auto;">
                <div class="vertical-center">
                    <div class="panel-body">
                        <h3 class="panel-title">Please sign up</h3>
                        <form action="/SignUp/SignUp" method="POST">
                            <div class="form-group">
                                <input class="form-control" id="login" placeholder="Login" name="login" type="text" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password">
                            </div>
                            @if (ViewBag.Message != null)
                            {
                                <p style="color: red;">@ViewBag.Message</p>
                            }
                            <a href="/Registration/Index">Don't have an account?</a>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Sign up">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#login').focus();
        });
        </script>
</body>
</html>
